<ion-view view-title="Rants">
    <ion-content>
        <div class="padding" style="text-align: center">
            <img src="img/icon.png" class="responsive-image" />
            <h2>ioRant</h2>
            <h3>Unofficial DevRant app</h3>
        </div>
        <div class="padding">
            <p>This is unofficial application for <a href="https://www.devrant.io/">DevRant.io</a>.</p>
            <p>Created by Andrew Dunai <u>&lt;andrew@dun.ai&gt;</u>.</p>
            <p>https://github.com/and3rson/iorant</p>
        </div>
    </ion-content>
</ion-view>
