<ion-view view-title="Rants">
    <ion-content>
        <div class="padding" style="text-align: center">
            <img src="img/icon.png" class="responsive-image" />
            <h2>ioRant</h2>
            <h3>Unofficial DevRant app</h3>
            <h4>v0.1 alpha</h4>
        </div>
        <div class="padding">
            <p>This is unofficial application for <a onclick="window.open('https://www.devrant.io/', '_system')">DevRant.io</a>.</p>
            <p>Created by Andrew Dunai <u>&lt;andrew@dun.ai&gt;</u>.</p>
            <p>We live at <a onclick="window.open('https://github.com/and3rson/iorant', '_system')">https://github.com/and3rson/iorant</a></p>
        </div>
    </ion-content>
</ion-view>
