<ion-view view-title="Rants">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh" on-refresh="refresh()">
        </ion-refresher>
<!--         <div class="padding" ng-if="data.isLoading">
            <ion-spinner style="display: block; text-align: center"></ion-spinner>
        </div>
 -->        <ion-list>
            <ion-item class="item-icon-right item-text-wrap" ng-repeat="rant in data.rants" type="item-text-wrap" href="#/rants/{{rant.id}}">
                <div class="row">
                    <div class="col col-20 col-top" style="text-align: center">
                        <div ng-include src="'templates/_vote.html'" ng-controller="VoteController" ng-init="init('rant', rant)"></div>
                    </div>
                    <div class="col col col-top">
                        <div class="--padding">
                            <p>{{rant.text}}</p>
                            <img ng-if="rant.attached_image" ng-src="{{rant.attached_image.url}}" class="responsive-image-stretch" />
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="loadMore()" distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
