<ion-view view-title="Chats">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Login" ng-model="form.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="form.password">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="login()">Log in</button>
        </div>
    </ion-content>
</ion-view>
