<ion-view view-title="Chats">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh" on-refresh="refresh()">
        </ion-refresher>
        <div class="padding" ng-if="data.isLoading">
            <ion-spinner style="display: block; text-align: center"></ion-spinner>
        </div>
        <div class="--padding">
            <div class="row">
                <div class="col col-20 col-top" style="text-align: center">
                    <a href="#" class="vote plus">++</a>
                    <div class="score">{{data.rant.score}}</div>
                    <a href="#" class="vote minus">--</a>
                </div>
                <div class="col col col-top">
                    <div class="--padding">
                        <div class="row no-padding">
                            <div class="col col-20">
                                <img class="user-avatar" ng-src="https://avatars.devrant.io/{{data.rant.user_avatar.i}}" />
                            </div>
                            <div class="col col-80">
                                <div>
                                    {{data.rant.user_username}}
                                </div>
                                <span class="user-score">
                                    {{data.rant.user_score}}
                                </span>
                            </div>
                        </div>

                        <p>{{data.rant.text}}</p>
                        <img ng-if="data.rant.attached_image" src="{{data.rant.attached_image.url}}" class="responsive-image-stretch" />
                    </div>
                </div>
            </div>

            <div class="list">
                <div class="item" ng-repeat="comment in data.comments" style="padding-top: 0; padding-bottom: 0">
                    <div class="row">
                        <div class="col col-20">
                            <img class="user-avatar" ng-src="https://avatars.devrant.io/{{comment.user_avatar.i}}" />
                        </div>
                        <div class="col">
                            <div>
                                {{comment.user_username}}
                                <span class="user-score">
                                    {{data.rant.user_score}}
                                </span>
                            </div>

                            {{comment.body}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
