/* Empty. Add your own CSS if you like */

.vote {
    border-radius: 50%;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-family: Monospace;
    background: #CCC;
}

.score {
    padding: 5px 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.vote.voted.plus {
    background: #5A5;
}

.vote.voted.minus {
    background: #A55;
}

.responsive-image {
    max-width: 100%;
    height: auto;
}

.responsive-image-stretch {
    width: 100%;
    height: auto;
}

.user-avatar {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

.user-score {
    background: #333;
    color: #FFF;
    font-weight: bold;
    padding: 4px;
    font-size: 14px;
}

.user-score.top-left {
    position: absolute;
    top: 8px;
    left: 8px;
}

.avatar-header {
    padding-top: 90%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.profile-stats {
    text-transform: uppercase;
    font-weight: thin;
    background: #444444;
    color: #FFFFFF;
    padding: 8px 0;
}

.profile-stats .big {
    font-size: 24px;
    padding: 4px 4px 8px;
}
